<div class = "column ">
	<nav class = "panel">
		<p class="panel-heading"> Who to Follow</p>
	</nav>
	<div class = "panel-block">
		<article = class="media">
			<div class ="media-left">
				<figure class = "image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
			<div class = "media-content">
				<div class="content">
					<a>
						<strong> Natha Villamor</strong>
						<small>@jinara</small>
					</a>
				</div>		
			</div>
		</article>
	</div>

		<div class = "panel-block">
		<article = class="media">
			<div class ="media-left">
				<figure class = "image is-32x32">
					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
			</div>
			<div class = "media-content">
				<div class="content">
					<a>
						<strong> Liz Castillo</strong>
						<small>@deko</small>
					</a>
				</div>		
			</div>
		</article>
	</div>
	
	
</div>