<div class = "column ">
	<nav class = "panel">
		<p class="panel-heading"> Who to Follow</p>
	</nav>
	<div class = "panel-block">
		<article = class="media">
			<div class ="media-left">
				<figure class = "image is-32x32">
					<img src="https://scontent.fbog4-1.fna.fbcdn.net/v/t1.0-9/67653134_10219324226793964_3257876927607734272_o.jpg?_nc_cat=111&_nc_oc=AQlhtc-yCudFmSgs1fvzjKgzqsZ6RwT5exaREzb9s807bL0h8bSJGQI5Gez_Zzqw2bw&_nc_ht=scontent.fbog4-1.fna&oh=5e17828bb7e540ae2be49efec1e75927&oe=5DCA38D7">
				</figure>
			</div>
			<div class = "media-content">
				<div class="content">
					<a>
						<strong> Natha Villamor</strong>
						<small>@jinara</small>
					</a>
				</div>		
			</div>
		</article>
	</div>

		<div class = "panel-block">
		<article = class="media">
			<div class ="media-left">
				<figure class = "image is-32x32">
					<img src="https://scontent.fbog4-1.fna.fbcdn.net/v/t31.0-8/21055971_10212486708315723_6396743196365738902_o.jpg?_nc_cat=103&_nc_oc=AQn_90QjWrSY0IuPqQ1S-dybwwoqPgUXPsDgApBj6gZzcrjcalK1vl2sU_zzheCOYR0&_nc_ht=scontent.fbog4-1.fna&oh=f612b76643348af5403f84f90ea94dd4&oe=5DFEB8FA">
				</figure>
			</div>
			<div class = "media-content">
				<div class="content">
					<a>
						<strong> Liz Castillo</strong>
						<small>@deko</small>
					</a>
				</div>		
			</div>
		</article>
	</div>
	
	
</div>